@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

p {
  padding: 0;
  margin: 0;
}

.content-blog > p {
  text-indent:  "8px"
}





@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }
}

.btn-grad {
            background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
            margin: 10px;
            padding: 10px 20px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad-rounded {
            background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
            margin: 10px;
            padding: 10px 10px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 99999px;
            display: block;
          }

          .btn-grad:hover{
            cursor: pointer;
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          } 
           .btn-grad-rounded :hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
           
         .btn-grad-secondary {
            background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%);
            margin: 10px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad-secondary:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

  .background-dark {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  }
  .border-g {
  border: 1px solid ;
  border-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
}

.text-bg {
   background: -webkit-linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  -webkit-text-fill-color: transparent;
}

         
         
         

@layer utilities {
    .btn-primary {
        @apply btn-grad
    }
    .btn-primary-rounded {
        @apply btn-grad-rounded
    }
    .btn-secondary {
      @apply btn-grad-secondary
    }


    .h2 {
      @apply font-bold text-3xl text-black dark:text-white leading-9
    }


    .h3 {
      @apply font-semibold text-lg text-black dark:text-white leading-6
    }

    .text-muted {
      @apply text-sm font-medium  text-[#5c6a78] leading-6 dark:text-white
    }
   

    .text-primary {
      @apply font-medium text-base text-black dark:text-white opacity-90 hover:opacity-100
    }

    .bg-dark {
      @apply background-dark
    }
    .border-gradient {
      @apply border border-indigo-500/75
    }
  

   
        
}